<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
</head>

<body>
<div layout:fragment="contents">
    <section class="expenseList">
        <h2>My Expenses</h2>
        <a href="/newexpense" id="add_expense">add a new expense</a>
        <h3 id="no_expenses" th:unless="${#lists.isEmpty(expenses)}">You don't have any expenses!</h3>
        <h3 id="no_expenses" th:unless="${ not #lists.isEmpty(expenses)}">You don't have any expenses!</h3>



        <div id="expenses" th:unless="${#lists.isEmpty(expenses)}">

            <table >
                <thead>
                <tr>
                    <th>When</th>
                    <th>What</th>
                    <th>Amount Spent</th>
                    <th>Payment Requested</th>
                    <th>Payment Received</th>
                    <th>Nett expense</th>
                </tr>
                </thead>

                <tbody th:each="expense: ${expenses}">
                <tr>
                    <td th:id="'date_' +${expense.id}" th:text="${expense.date}"></td>
                    <td ><a th:id="'payment_request_' +${expense.id}" th:text="${expense.description}" th:href="'/paymentrequest?expenseId='+${expense.id}"></a></td>
                    <td th:id="'amount_' +${expense.id}" th:text="${expense.amount}" ></td>
                    <td th:id="'request_' +${expense.id}" th:text="${expense.totalAmountOfPaymentsRequested()}" ></td>
                    <td th:id="'received_' +${expense.id}"  th:text="${expense.totalAmountForPaymentsReceived()}"></td>
                    <td th:id="'nett_' +${expense.id}" th:text="${expense.totalAmountAvailableForPaymentRequests()}" ></td>
                </tr>
                </tbody>

                <tfoot>
                <td colspan="5">Total Expenses</td>
                <td id="grand_total" th:text="${nettTotal}"></td>
                </tfoot>
            </table>
        </div>
    </section>
</div>

<h1>Expenses</h1>
<table>
    <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    <list of expenses as expense>
        <tr>
            <td>${expense.description}</td>
            <td>${expense.amount}</td>
            <td>${expense.date}</td>
        </tr>
    </list>
</table>
</body>



